@keyframes leftRideIn {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    30% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightRideIn {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    30% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes BottomRideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}