$light-green: rgb(126, 213, 111);
$medium-green: rgb(85, 197, 122);
$dark-green: rgb(40, 180, 133);


$main-light: rgb(255, 255, 255);
$main-dark: rgb(119, 119, 119);

$black: rgb(0, 0, 0);

$dark-grey: rgb(51, 51, 51);

$light-background: rgb(247, 247, 247);

$orange-light: #ffb900;
$orange-dark: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;