.btn {
    font-family: "Lato", sans-serif;

    &,
    &:link,
    &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2em 2.4em;
    border-radius: 100px;
    transition: transform 0.2s,
                box-shadow 0.2s;

    position: relative;

    //button changes 

    border: 0;
    outline: none;

    }

    &:hover,
    &:focus {
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba($black, 0.2);
        &::before {
            transform: scale(1.4, 1.6);
            opacity: 0;
        }
    }

    &--green:focus {
        background: $light-green;
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 5px 10px rgba($black, 0.2);
    }
    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    
        transition: transform 0.3s,
                    opacity 0.3s;
    }   

    &--white {
        background: $main-light;
        color: $main-dark;
        &::before {
            background: $main-light;
        }
    }

    &--green {
        background: $medium-green;
        color: $main-light;

        &::before {
            background: $medium-green;
        }
    }

}