.header {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    @media screen and (min-width: 1200px),
           screen and (min-resolution: 192dpi){
            background: linear-gradient(
                to right bottom, 
                rgba($light-green, 0.8), 
                rgba($dark-green, 0.8)),
                url('../img/hero.jpg') top / cover no-repeat;
           }
    @media screen and (max-width: 1199px){
            background: linear-gradient(
                to right bottom, 
                rgba($light-green, 0.8), 
                rgba($dark-green, 0.8)),
                url('../img/hero-small.jpg') top / cover no-repeat;
           }

    position: relative;

    &__logo-container {
        height: 4.25rem;
        width: 4.25rem;
    
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
    }
    
    &__content-container {
        width: 90%;
        max-width: 40rem;
    
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        text-align: center;

        & > * + * {
            margin-top: 3em;
        }
    }

    &__btn {
        animation-name: BottomRideIn;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }
}