.popup {
    position: relative;

    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba($black, 0.9);

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    &__close:link,
    &__close:visited {
        text-decoration: none;
        color: $main-dark;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;

        position: absolute;
        top: 1rem;
        right: 1.5rem;

        transition: color 0.2s;

        @include mediaQuery(phone) {
            color: #333;
            font-size: 3rem;
        }
    }
    &__close:hover {
        color: $medium-green;
    }

    &__container {
        background: $main-light;
        width: 95%;
        max-width: 75rem;
        border-radius: 3px;
        overflow: hidden;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);

        display: flex;

        @include mediaQuery(phone) {
            & {
                flex-direction: column;
                justify-content: center;
            }
        }

        transition: all 0.3s 0.3s;
    }

    &__left {
        flex: 1;

        @include mediaQuery(phone) {
            & {
                display: flex;
                align-items: stretch;
            }
        }
    }

    &__img-container {
        height: 50%;
        @include mediaQuery(phone) {
            & {
                height: auto;
                width: 50%;
            }
        }
    }
    &__img {
        height: 100%;
        // width: 100%;
        object-fit: cover;
    }

    &__right {
        // position: relative;
        flex: 2;
        padding: 4rem 3rem;

        @include mediaQuery(phone) {
            padding: 2rem 1.5rem;
        }

        p {
            font-size: 0.9rem;
            text-align: justify;
            line-height: 1.6;

            column-count: 2;
            column-gap: 3rem;
            column-rule: 1px solid #eee;

            hyphens: auto;

            @include mediaQuery(phone) {
               & {
                font-size: 1rem;
                column-count: unset;
               }
            }
        }
    }

    // functionality

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__container {
        transform: translate(-50%, -50%) scale(1);
    }
}