.stories {
    background: rgba(255, 255, 255, 0.85);
    position: relative;

    &__story-container {
        margin: 0 auto;
    }

    &__story-container:not(:last-child) {
        margin-bottom: 5rem;
    }
}