.story {
    font-family: "Lato", sans-serif;
    background: rgba($main-light, 0.7);
    border-radius: 3px;
    box-shadow: 3rem 3rem 10rem rgba($black, 0.15);
    transform: skewX(-12deg);

    max-width: 55rem;
    padding: 4rem 4rem 4rem 6rem;

    & > * {
        transform: skewX(12deg);
    }

    &__img-container {
        position: relative;
        float: left;
        height: 10rem;
        width: 10rem;

        transform: translateX(-2rem) skewX(12deg);
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
    }

    &__author {
        color: rgba($main-light, 0);
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        z-index: 1;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 25%);
        transition: all 0.5s;
    }

    &__img {
        transform: scale(1.3);
        height: 100%;
        width: 100%;
        object-fit: cover;

        transition: all 0.5s;
    }

    &__content {
        margin-top: 0.5rem;
    }

    &:hover &__img {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }
    &:hover &__author {
        color: rgba($main-light, 1);
        transform: translate(-50%, -50%);
    }
}