.text {

    // max-width: 100%;

    font-family: "Lato", sans-serif;
    &__title {
        font-weight: 700;
        color: $main-dark;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1;

        margin-bottom: 1em;

        @include mediaQuery(tab-port) {
            font-size: 0.9rem;
        }
    }
    &__paragraph {
        color: $main-dark;
        font-size: 1rem;
        line-height: 1.75;

        &:not(:last-child){
            margin-bottom: 2rem;
        }

        @include mediaQuery(tab-port) {
            font-size: 0.9rem;
        }
    }
}