.tours {
    background: $light-background;

    &__card-container {
        display: grid;
        grid-template-columns: 21.25rem 21.25rem 21.25rem;
        grid-template-rows: auto;
        grid-gap: 3rem;

        margin-bottom: 7rem;
    }
}