.tours {
    background: $light-background;

    &__card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: auto;
        grid-gap: 3rem;

        @include mediaQuery(tab-port) {
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        }

        margin-bottom: 7rem;
    }
}