@-webkit-keyframes leftRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rightRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rightRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes BottomRideIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes BottomRideIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

.u-text-center {
  text-align: center;
}

.u-title-margin-bottom {
  margin-bottom: 6rem;
}

:root {
  font-size: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 1.875rem;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  min-height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.about {
  margin-top: -15rem;
  padding: 20rem 0;
}

.features {
  margin-top: -15rem;
  padding: 20rem 0;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.tours {
  margin-top: -15rem;
  padding: 20rem 0;
}

.header {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg") top/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  position: relative;
}

.header__logo-container {
  height: 4.25rem;
  width: 4.25rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.header__content-container {
  width: 90%;
  max-width: 40rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__content-container > * + * {
  margin-top: 3em;
}

.header__btn {
  -webkit-animation-name: BottomRideIn;
          animation-name: BottomRideIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.general-title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* Fix for shaking animation trouble */
}

.general-title > * + * {
  margin-top: 1em;
}

.general-title__main {
  display: block;
  font-size: 3.75rem;
  letter-spacing: 2rem;
  font-weight: 400;
  -webkit-animation-name: leftRideIn;
          animation-name: leftRideIn;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.general-title__sub {
  display: block;
  font-size: 1.25rem;
  letter-spacing: 1rem;
  -webkit-animation-name: rightRideIn;
          animation-name: rightRideIn;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.btn--white {
  background: white;
  color: #777777;
}

.btn--white::before {
  background: white;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2em 2.4em;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::before {
  -webkit-transform: scale(1.4, 1.6);
      -ms-transform: scale(1.4, 1.6);
          transform: scale(1.4, 1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.about {
  background: #f7f7f7;
}

.about__content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 3.75rem;
}

.text {
  font-family: "Lato", sans-serif;
}

.text__title {
  font-weight: 700;
  color: #777777;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1em;
}

.text__paragraph {
  color: #777777;
  font-size: 1rem;
  line-height: 1.75;
}

.text__paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background: -o-linear-gradient(left, #7ed56f, #28b485);
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 2.2rem;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.title:hover {
  -webkit-transform: skewX(10deg) skewY(2deg) scale(1.2);
      -ms-transform: skewX(10deg) skewY(2deg) scale(1.2);
          transform: skewX(10deg) skewY(2deg) scale(1.2);
  text-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

.learn-more-btn:link, .learn-more-btn:visited {
  display: inline-block;
  color: #55c57a;
  text-decoration: none;
  padding: 0.5em 0.25em;
  border-bottom: 1px solid;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.learn-more-btn:hover {
  border: 0;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  color: white;
  background: #55c57a;
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
}

.learn-more-btn:active {
  color: white;
  background: #55c57a;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.image-composition {
  position: relative;
  height: 0;
}

.image-composition:hover .image-composition__img-container:not(:hover) {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.image-composition__img-container {
  width: 17.5rem;
  height: 12rem;
  position: absolute;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 0;
}

.image-composition__img-container:hover {
  -webkit-transform: scale(1.05) translateY(-0.5rem);
      -ms-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  z-index: 1;
  outline: 0.75rem solid #55c57a;
  outline-offset: 1rem;
  -webkit-box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.35);
}

.image-composition__img-container--1 {
  top: -2rem;
  left: 0;
}

.image-composition__img-container--2 {
  top: 0;
  right: 0;
}

.image-composition__img-container--3 {
  top: 6.5rem;
  left: 20%;
}

.image-composition__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.features {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/nat-4.jpg") top/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") top/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") top/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") top/cover no-repeat;
}

.features__container {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 15rem 15rem 15rem;
      grid-template-columns: 15rem 15rem 15rem 15rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 3.5rem;
}

.features__card {
  padding: 1.6em;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 0.9rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.features__card:hover {
  -webkit-transform: translateY(-5%) scale(1.05);
      -ms-transform: translateY(-5%) scale(1.05);
          transform: translateY(-5%) scale(1.05);
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.features__icon-container {
  padding: 1em 0.5em 2em;
}

.features__icon {
  padding: 1em;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background: -o-linear-gradient(left, #7ed56f, #28b485);
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 3.75rem;
  line-height: 1.2;
}

.tours {
  background: #f7f7f7;
}

.tours__card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 21.25rem 21.25rem 21.25rem;
      grid-template-columns: 21.25rem 21.25rem 21.25rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 3rem;
}

.card {
  font-family: "Lato", sans-serif;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  min-height: 30rem;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__side--front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-height: 30rem;
  width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.15);
  background: white;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.card__side--back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-height: 100%;
  width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.card__side--back-orange {
  background: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background: -webkit-linear-gradient(left top, #ffb900, #ff7730);
  background: -o-linear-gradient(left top, #ffb900, #ff7730);
  background: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-green {
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background: -webkit-linear-gradient(left top, #7ed56f, #28b485);
  background: -o-linear-gradient(left top, #7ed56f, #28b485);
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background: -webkit-linear-gradient(left top, #2998ff, #5643fa);
  background: -o-linear-gradient(left top, #2998ff, #5643fa);
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card__picture {
  height: 15rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__title {
  text-align: right;
  font-weight: 300;
  color: white;
  font-size: 0;
  text-transform: uppercase;
  width: 70%;
  position: relative;
  top: -6rem;
  right: -5rem;
}

.card__title-span {
  display: inline-block;
  padding: 0.3em 0.5em;
  margin-top: -0.25em;
  position: relative;
  font-size: 1.75rem;
}

.card__side--front-orange .card__picture {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.25)), to(rgba(255, 119, 48, 0.25))), url("../img/nat-5.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.25), rgba(255, 119, 48, 0.25)), url("../img/nat-5.jpg") center/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(255, 185, 0, 0.25), rgba(255, 119, 48, 0.25)), url("../img/nat-5.jpg") center/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.25), rgba(255, 119, 48, 0.25)), url("../img/nat-5.jpg") center/cover no-repeat;
}

.card__side--front-orange .card__title-span {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8)));
  background: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
  background: -o-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
  background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}

.card__side--front-green .card__picture {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.25)), to(rgba(40, 180, 133, 0.25))), url("../img/nat-6.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.25), rgba(40, 180, 133, 0.25)), url("../img/nat-6.jpg") center/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.25), rgba(40, 180, 133, 0.25)), url("../img/nat-6.jpg") center/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.25), rgba(40, 180, 133, 0.25)), url("../img/nat-6.jpg") center/cover no-repeat;
}

.card__side--front-green .card__title-span {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}

.card__side--front-blue .card__picture {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.25)), to(rgba(86, 67, 250, 0.25))), url("../img/nat-7.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(41, 152, 255, 0.25), rgba(86, 67, 250, 0.25)), url("../img/nat-7.jpg") center/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(41, 152, 255, 0.25), rgba(86, 67, 250, 0.25)), url("../img/nat-7.jpg") center/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.25), rgba(86, 67, 250, 0.25)), url("../img/nat-7.jpg") center/cover no-repeat;
}

.card__side--front-blue .card__title-span {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8)));
  background: -webkit-linear-gradient(left top, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
  background: -o-linear-gradient(left top, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}

.card__list {
  margin-top: -5rem;
  list-style: none;
  text-align: center;
  padding: 2em 4em;
}

.card__list-item {
  padding: .85em 1em;
  color: #777777;
}

.card__list-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__side--back {
  color: white;
}

.card__pricing {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__pricing-title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}

.card__pricing-value {
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 1000px) {
  .about__content-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}
