@-webkit-keyframes leftRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rightRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rightRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes BottomRideIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes BottomRideIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

.u-text-center {
  text-align: center;
}

.u-big-margin-bottom {
  margin-bottom: 6rem;
}

.u-medium-margin-bottom {
  margin-bottom: 3rem;
}

.u-small-margin-bottom {
  margin-bottom: 2rem;
}

:root {
  font-size: 100%;
}

@media screen and (max-width: 75em) {
  :root {
    font-size: 90%;
  }
}

@media screen and (max-width: 56.25em) {
  :root {
    font-size: 80%;
  }
}

@media screen and (max-width: 37.5em) {
  :root {
    font-size: 70%;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 1.875rem;
}

@media screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.container {
  width: 100%;
  max-width: 75.5rem;
  padding: 0 0.625rem;
  margin: 0 auto;
}

.header {
  min-height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

@media screen and (max-width: 75em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

.about {
  margin-top: -15rem;
  padding: 20rem 0;
}

@media screen and (max-width: 75em) {
  .about {
    margin-top: -10rem;
    padding: 15rem 0;
  }
}

@media screen and (max-width: 37.5em) {
  .about {
    margin-top: -7.5rem;
    padding: 10rem 0;
  }
}

.features {
  margin-top: -15rem;
  padding: 20rem 0;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

@media screen and (max-width: 75em) {
  .features {
    margin-top: -12.5rem;
    padding: 15rem 0;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}

@media screen and (max-width: 37.5em) {
  .features {
    margin-top: -10rem;
    padding: 10rem 0;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}

@media screen and (max-width: 420px) {
  .features {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
}

.tours {
  margin-top: -15rem;
  padding: 20rem 0 10rem;
}

@media screen and (max-width: 75em) {
  .tours {
    margin-top: -13rem;
    padding: 15rem 0 7.5rem;
  }
}

.stories {
  padding: 10rem 0;
}

@media screen and (max-width: 75em) {
  .stories {
    padding: 7.5rem 0;
  }
}

@media screen and (max-width: 37.5em) {
  .stories {
    padding: 5rem 0;
  }
}

.booking {
  padding: 10rem 0;
}

@media screen and (max-width: 75em) {
  .booking {
    padding: 7.5rem 0;
  }
}

@media screen and (max-width: 37.5em) {
  .booking {
    padding: 5rem 0;
  }
}

.footer {
  padding: 5rem 0;
}

.header {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg") top/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  position: relative;
}

.header__logo-container {
  height: 4.25rem;
  width: 4.25rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.header__content-container {
  width: 90%;
  max-width: 40rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__content-container > * + * {
  margin-top: 3em;
}

.header__btn {
  -webkit-animation-name: BottomRideIn;
          animation-name: BottomRideIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.general-title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* Fix for shaking animation trouble */
}

.general-title > * + * {
  margin-top: 1em;
}

.general-title__main {
  display: block;
  font-size: 3.75rem;
  letter-spacing: 2rem;
  font-weight: 400;
  -webkit-animation-name: leftRideIn;
          animation-name: leftRideIn;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@media screen and (max-width: 37.5em) {
  .general-title__main {
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}

.general-title__sub {
  display: block;
  font-size: 1.25rem;
  letter-spacing: 1rem;
  -webkit-animation-name: rightRideIn;
          animation-name: rightRideIn;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@media screen and (max-width: 37.5em) {
  .general-title__sub {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }
}

.btn {
  font-family: "Lato", sans-serif;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2em 2.4em;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  position: relative;
  border: 0;
  outline: none;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::before, .btn:focus::before {
  -webkit-transform: scale(1.4, 1.6);
      -ms-transform: scale(1.4, 1.6);
          transform: scale(1.4, 1.6);
  opacity: 0;
}

.btn--green:focus {
  background: #7ed56f;
}

.btn:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.btn--white {
  background: white;
  color: #777777;
}

.btn--white::before {
  background: white;
}

.btn--green {
  background: #55c57a;
  color: white;
}

.btn--green::before {
  background: #55c57a;
}

.about {
  background: #f7f7f7;
}

.about__content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 3.75rem;
  position: relative;
}

@media screen and (max-width: 75em) {
  .about__content-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 90%;
    margin: 0 auto;
  }
}

.text {
  font-family: "Lato", sans-serif;
}

.text__title {
  font-weight: 700;
  color: #777777;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1em;
}

@media screen and (max-width: 56.25em) {
  .text__title {
    font-size: 0.9rem;
  }
}

.text__paragraph {
  color: #777777;
  font-size: 1rem;
  line-height: 1.75;
}

.text__paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

@media screen and (max-width: 56.25em) {
  .text__paragraph {
    font-size: 0.9rem;
  }
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background: -o-linear-gradient(left, #7ed56f, #28b485);
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 2.2rem;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.title:hover {
  -webkit-transform: skewX(10deg) skewY(2deg) scale(1.2);
      -ms-transform: skewX(10deg) skewY(2deg) scale(1.2);
          transform: skewX(10deg) skewY(2deg) scale(1.2);
  text-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 75em) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 56.25em) {
  .title {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 37.5em) {
  .title {
    font-size: 1.6rem;
  }
}

.learn-more-btn:link, .learn-more-btn:visited {
  font-family: "Lato", sans-serif;
  display: inline-block;
  color: #55c57a;
  text-decoration: none;
  padding: 0.5em 0.25em;
  border-bottom: 1px solid;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.learn-more-btn:hover {
  border: 0;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  color: white;
  background: #55c57a;
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
}

.learn-more-btn:active {
  color: white;
  background: #55c57a;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.image-composition {
  max-width: 100%;
  position: relative;
  height: 0;
  margin: 0 auto;
}

@media screen and (min-width: 1201px) {
  .image-composition:hover .image-composition__img-container--1:not(:hover) {
    -webkit-transform: scale(0.95) translate(-85%, -15%);
        -ms-transform: scale(0.95) translate(-85%, -15%);
            transform: scale(0.95) translate(-85%, -15%);
  }
  .image-composition:hover .image-composition__img-container--2:not(:hover) {
    -webkit-transform: scale(0.95) translate(-5%, -5%);
        -ms-transform: scale(0.95) translate(-5%, -5%);
            transform: scale(0.95) translate(-5%, -5%);
  }
  .image-composition:hover .image-composition__img-container--3:not(:hover) {
    -webkit-transform: scale(0.95) translate(-50%, 45%);
        -ms-transform: scale(0.95) translate(-50%, 45%);
            transform: scale(0.95) translate(-50%, 45%);
  }
}

.image-composition__img-container {
  width: 18rem;
  height: 12rem;
  position: absolute;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 0;
}

@media screen and (max-width: 75em) {
  .image-composition__img-container {
    position: static;
    max-width: 13rem;
    height: auto;
  }
}

@media screen and (max-width: 56.25em) {
  .image-composition__img-container {
    max-width: 11rem;
    height: auto;
  }
}

@media screen and (min-width: 1201px) {
  .image-composition__img-container--1:hover {
    -webkit-transform: scale(1.05) translate(-85%, -15%);
        -ms-transform: scale(1.05) translate(-85%, -15%);
            transform: scale(1.05) translate(-85%, -15%);
    z-index: 1;
    outline: 0.75rem solid #55c57a;
    outline-offset: 1rem;
    -webkit-box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.35);
            box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.35);
  }
  .image-composition__img-container--2:hover {
    -webkit-transform: scale(1.05) translate(-5%, -5%);
        -ms-transform: scale(1.05) translate(-5%, -5%);
            transform: scale(1.05) translate(-5%, -5%);
    z-index: 1;
    outline: 0.75rem solid #55c57a;
    outline-offset: 1rem;
    -webkit-box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.35);
            box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.35);
  }
  .image-composition__img-container--3:hover {
    -webkit-transform: scale(1.05) translate(-50%, 45%);
        -ms-transform: scale(1.05) translate(-50%, 45%);
            transform: scale(1.05) translate(-50%, 45%);
    z-index: 1;
    outline: 0.75rem solid #55c57a;
    outline-offset: 1rem;
    -webkit-box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.35);
            box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.35);
  }
}

@media screen and (min-width: 1201px) {
  .image-composition__img-container--1 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-85%, -15%);
        -ms-transform: translate(-85%, -15%);
            transform: translate(-85%, -15%);
  }
  .image-composition__img-container--2 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-5%, -5%);
        -ms-transform: translate(-5%, -5%);
            transform: translate(-5%, -5%);
  }
  .image-composition__img-container--3 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 45%);
        -ms-transform: translate(-50%, 45%);
            transform: translate(-50%, 45%);
  }
}

@media screen and (max-width: 75em) {
  .image-composition__img-container--1:hover {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 0;
    outline: none;
    outline-offset: 0;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  }
  .image-composition__img-container--2:hover {
    position: static;
    -webkit-transform: scale(1.2) translateY(-0.25rem);
        -ms-transform: scale(1.2) translateY(-0.25rem);
            transform: scale(1.2) translateY(-0.25rem);
    z-index: 1;
    outline: none;
    outline-offset: 0;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  }
  .image-composition__img-container--3:hover {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 0;
    outline: none;
    outline-offset: 0;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
  }
}

.image-composition__img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 75em) {
  .image-composition {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image-composition__img-container {
    position: static;
  }
  .image-composition__img-container--2 {
    -webkit-transform: scale(1.2) translateY(-0.25rem);
        -ms-transform: scale(1.2) translateY(-0.25rem);
            transform: scale(1.2) translateY(-0.25rem);
    z-index: 1;
  }
  .image-composition__img-container--3 {
    z-index: 0;
  }
}

@media screen and (max-width: 420px) {
  .image-composition__img-container {
    max-width: 8rem;
  }
}

@media screen and (max-width: 75em) {
  .image-composition {
    height: 15rem;
    padding: 5rem 0;
  }
  .image-composition:hover .image-composition__img-container--1:not(:hover) {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .image-composition:hover .image-composition__img-container--2:not(:hover) {
    -webkit-transform: scale(1.2) translateY(-0.25rem);
        -ms-transform: scale(1.2) translateY(-0.25rem);
            transform: scale(1.2) translateY(-0.25rem);
  }
  .image-composition:hover .image-composition__img-container--3:not(:hover) {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.features {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/nat-4.jpg") top/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") top/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") top/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") top/cover no-repeat;
}

.features__container {
  max-width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2rem;
}

.features__card {
  padding: 1.6em;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 0.9rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.features__card:hover {
  -webkit-transform: translateY(-5%) scale(1.05);
      -ms-transform: translateY(-5%) scale(1.05);
          transform: translateY(-5%) scale(1.05);
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.features__icon-container {
  padding: 1em 0.5em 2em;
}

.features__icon {
  padding: 1em;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background: -o-linear-gradient(left, #7ed56f, #28b485);
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 3.75rem;
  line-height: 1.2;
}

.tours {
  background: #f7f7f7;
}

.tours__card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 3rem;
  margin-bottom: 7rem;
}

@media screen and (max-width: 75em) {
  .tours__card-container {
    -ms-grid-columns: minmax(25rem, 0.5fr);
        grid-template-columns: minmax(25rem, 0.5fr);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  font-family: "Lato", sans-serif;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  min-height: 30rem;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

@media screen and (max-width: 75em), screen and (hover: none) {
  .card {
    min-height: 40rem;
  }
}

@media screen and (min-width: 1201px) {
  .card:hover .card__side--front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.card__side--front {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-height: 30rem;
  width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.15);
  background: white;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.card__side--back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  min-height: 30rem;
  width: 100%;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 75em), screen and (hover: none) {
  .card__side--back {
    min-height: 17.5rem;
    position: relative;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
}

.card__side--back-orange {
  background: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background: -webkit-linear-gradient(left top, #ffb900, #ff7730);
  background: -o-linear-gradient(left top, #ffb900, #ff7730);
  background: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-green {
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background: -webkit-linear-gradient(left top, #7ed56f, #28b485);
  background: -o-linear-gradient(left top, #7ed56f, #28b485);
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background: -webkit-linear-gradient(left top, #2998ff, #5643fa);
  background: -o-linear-gradient(left top, #2998ff, #5643fa);
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card__picture {
  height: 15rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__title {
  text-align: right;
  font-weight: 300;
  color: white;
  font-size: 0;
  text-transform: uppercase;
  width: 15rem;
  position: absolute;
  top: 8rem;
  right: 0;
}

.card__title-span {
  display: inline-block;
  padding: 0.3em 0.5em;
  margin-top: -0.25em;
  position: relative;
  font-size: 1.75rem;
}

.card__side--front {
  position: relative;
}

.card__side--front-orange .card__picture {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.25)), to(rgba(255, 119, 48, 0.25))), url("../img/nat-5.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.25), rgba(255, 119, 48, 0.25)), url("../img/nat-5.jpg") center/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(255, 185, 0, 0.25), rgba(255, 119, 48, 0.25)), url("../img/nat-5.jpg") center/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.25), rgba(255, 119, 48, 0.25)), url("../img/nat-5.jpg") center/cover no-repeat;
}

.card__side--front-orange .card__title-span {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8)));
  background: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
  background: -o-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
  background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}

.card__side--front-green .card__picture {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.25)), to(rgba(40, 180, 133, 0.25))), url("../img/nat-6.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.25), rgba(40, 180, 133, 0.25)), url("../img/nat-6.jpg") center/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.25), rgba(40, 180, 133, 0.25)), url("../img/nat-6.jpg") center/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.25), rgba(40, 180, 133, 0.25)), url("../img/nat-6.jpg") center/cover no-repeat;
}

.card__side--front-green .card__title-span {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}

.card__side--front-blue .card__picture {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.25)), to(rgba(86, 67, 250, 0.25))), url("../img/nat-7.jpg") center/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(41, 152, 255, 0.25), rgba(86, 67, 250, 0.25)), url("../img/nat-7.jpg") center/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(41, 152, 255, 0.25), rgba(86, 67, 250, 0.25)), url("../img/nat-7.jpg") center/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.25), rgba(86, 67, 250, 0.25)), url("../img/nat-7.jpg") center/cover no-repeat;
}

.card__side--front-blue .card__title-span {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8)));
  background: -webkit-linear-gradient(left top, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
  background: -o-linear-gradient(left top, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}

.card__list {
  margin-top: -1.5rem;
  list-style: none;
  text-align: center;
  padding: 2em 4em;
}

@media screen and (max-width: 75em), screen and (hover: none) {
  .card__list {
    padding: 1.5em 4em 3rem;
  }
}

.card__list-item {
  padding: .85em 1em;
  color: #777777;
}

.card__list-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__side--back {
  color: white;
}

@media screen and (max-width: 75em), screen and (hover: none) {
  .card__side--back {
    margin-top: -3rem;
  }
}

.card__pricing {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__pricing-title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}

@media screen and (max-width: 75em), screen and (hover: none) {
  .card__pricing-title {
    padding-top: 2em;
  }
}

.card__pricing-value {
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 75em), screen and (hover: none) {
  .card__pricing-value {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
}

.stories {
  background: rgba(255, 255, 255, 0.85);
  position: relative;
}

.stories__story-container {
  margin: 0 auto;
}

.stories__story-container:not(:last-child) {
  margin-bottom: 5rem;
}

.story {
  font-family: "Lato", sans-serif;
  background: rgba(255, 255, 255, 0.7);
  text-align: justify;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 3rem 3rem 10rem rgba(0, 0, 0, 0.15);
          box-shadow: 3rem 3rem 10rem rgba(0, 0, 0, 0.15);
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
  max-width: 55rem;
  padding: 4rem 4rem 4rem 6rem;
}

@media screen and (max-width: 37.5em) {
  .story {
    padding: 2rem 2rem 2rem 4rem;
    text-align: left;
  }
}

.story > * {
  -webkit-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
          transform: skewX(12deg);
}

@media screen and (max-width: 56.25em) {
  .story {
    -webkit-transform: skewX(0);
        -ms-transform: skewX(0);
            transform: skewX(0);
  }
  .story > * {
    -webkit-transform: skewX(0);
        -ms-transform: skewX(0);
            transform: skewX(0);
  }
}

.story__img-container {
  position: relative;
  float: left;
  height: 10rem;
  width: 10rem;
  -webkit-transform: translateX(-2rem) skewX(12deg);
      -ms-transform: translateX(-2rem) skewX(12deg);
          transform: translateX(-2rem) skewX(12deg);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  -webkit-shape-outside: circle(50% at 50% 50%);
          shape-outside: circle(50% at 50% 50%);
}

@media screen and (max-width: 56.25em) {
  .story__img-container {
    -webkit-transform: translateX(-2rem) skewX(0);
        -ms-transform: translateX(-2rem) skewX(0);
            transform: translateX(-2rem) skewX(0);
  }
}

.story__author {
  color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 25%);
      -ms-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.story__img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.story__content {
  margin-top: 0.5rem;
}

.story:hover .story__img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.story:hover .story__author {
  color: white;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.background-video {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.booking {
  font-family: "Lato", sans-serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background: -webkit-linear-gradient(left top, #7ed56f, #28b485);
  background: -o-linear-gradient(left top, #7ed56f, #28b485);
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
  background: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg") center/cover;
  background: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg") center/cover;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg") center/cover;
  padding: 5rem;
}

@media screen and (max-width: 37.5em) {
  .book {
    background: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.9) 100%), url("../img/nat-10.jpg") center/cover;
    background: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.9) 100%), url("../img/nat-10.jpg") center/cover;
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0, rgba(255, 255, 255, 0.9) 100%), url("../img/nat-10.jpg") center/cover;
    padding: 2rem;
  }
}

.form__group {
  width: 40%;
}

@media screen and (max-width: 37.5em) {
  .form__group {
    width: 100%;
  }
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem 1em;
  border: none;
  border-bottom: 3px solid transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #515151;
  font-family: inherit;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input::-webkit-input-placeholder {
  color: rgba(119, 119, 119, 0.85);
}

.form__input:-ms-input-placeholder {
  color: rgba(119, 119, 119, 0.85);
}

.form__input::-ms-input-placeholder {
  color: rgba(119, 119, 119, 0.85);
}

.form__input::placeholder {
  color: rgba(119, 119, 119, 0.85);
}

.form__input:focus {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.form__input:focus:required:invalid {
  border-bottom-color: #ff7730;
}

.form__input:focus:required:valid {
  border-bottom-color: #55c57a;
}

.form__label {
  display: block;
  font-size: 1rem;
  color: #777777;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.5em 1.3em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  -webkit-transform: translateY(-2.35rem);
      -ms-transform: translateY(-2.35rem);
          transform: translateY(-2.35rem);
  opacity: 0;
}

.form__group:not(:last-child) {
  margin-bottom: 1.75rem;
}

.radio {
  font-family: inherit;
  display: inline-block;
  padding: 0.5em;
  margin-left: -1rem;
}

.radio:not(:last-child) {
  margin-right: 3rem;
}

.radio__decoration {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border: 5px solid #55c57a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 0.5rem;
  -webkit-transform: translateY(0.7rem);
      -ms-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
  position: relative;
}

.radio__decoration::before {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  background: rgba(85, 197, 122, 0);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.radio__input:checked ~ .radio__label > .radio__decoration::before {
  background: #55c57a;
}

.radio__input {
  display: none;
}

.radio__label {
  color: #777777;
  padding-left: 0.3em;
  cursor: pointer;
}

.form__group > .radio {
  -webkit-transform: translateY(-1.5rem);
      -ms-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.footer {
  font-family: "Lato", sans-serif;
  background: #333333;
}

.footer__logo-container {
  display: inline-block;
  width: 9rem;
  height: 9rem;
}

.footer__logo {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__content-container {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 15rem;
}

@media screen and (max-width: 56.25em) {
  .footer__content-container {
    max-width: 70%;
    margin: 5rem auto 0;
  }
  .footer__content-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .footer__content-container {
    max-width: 90%;
    margin-top: 2rem;
  }
}

.footer__navigation {
  padding-top: 1.5rem;
  border-top: 1px solid #777777;
}

.footer__list {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 37.5em) {
  .footer__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f7f7;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__link:hover {
  background: #333333;
  -webkit-box-shadow: 0 1em 1em rgba(0, 0, 0, 0.4);
          box-shadow: 0 1em 1em rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.3) rotate(5deg);
      -ms-transform: scale(1.3) rotate(5deg);
          transform: scale(1.3) rotate(5deg);
  color: #55c57a;
}

.footer__copy {
  padding-top: 1.5rem;
  border-top: 1px solid #777777;
  color: #f7f7f7;
  font-size: 0.9rem;
  line-height: 1.7;
}

.navigation {
  z-index: 2;
  font-family: "Lato", sans-serif;
  position: relative;
}

.navigation__checkbox {
  display: none;
}

.navigation__menu {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(110vh, -50%);
      -ms-transform: translate(110vh, -50%);
          transform: translate(110vh, -50%);
  z-index: 5;
  -webkit-transition: all 0.5s cubic-bezier(1, -0.67, 0, 1.77);
  -o-transition: all 0.5s cubic-bezier(1, -0.67, 0, 1.77);
  transition: all 0.5s cubic-bezier(1, -0.67, 0, 1.77);
}

@media screen and (max-width: 37.5em) {
  .navigation__menu {
    width: 90vw;
  }
}

.navigation__list {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
}

.navigation__list span {
  margin-right: 0.5em;
}

@media screen and (max-width: 37.5em) {
  .navigation__list {
    max-width: 100%;
    margin: 0 auto;
  }
}

.navigation__list-item:not(:last-child) {
  margin-bottom: 1em;
}

@media screen and (max-width: 37.5em) {
  .navigation__list-item {
    max-width: 90%;
    margin: 0 auto;
  }
}

.navigation__link:link, .navigation__link:visited {
  background-image: -webkit-linear-gradient(135deg, white 0, white 50%, transparent 50%, transparent);
  background-image: -o-linear-gradient(135deg, white 0, white 50%, transparent 50%, transparent);
  background-image: linear-gradient(-45deg, white 0, white 50%, transparent 50%, transparent);
  -webkit-background-size: 250% 250%;
          background-size: 250%;
  background-position: 0;
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.navigation__link:hover {
  color: #55c57a;
  background-position: 100%;
  -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__button {
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 1;
}

@media screen and (max-width: 75em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

@media screen and (max-width: 56.25em) {
  .navigation__button {
    top: 2.5rem;
    right: 2.5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .navigation__button {
    top: 2rem;
    right: 2rem;
  }
}

.navigation__background {
  height: 3.5rem;
  width: 3.5rem;
  background: -webkit-radial-gradient(circle, #7ed56f, #28b485);
  background: -o-radial-gradient(circle, #7ed56f, #28b485);
  background: radial-gradient(circle, #7ed56f, #28b485);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  z-index: 4;
}

.navigation__checkbox-label {
  height: 4.5rem;
  width: 4.5rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.25);
  background: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (max-width: 75em) {
  .navigation__checkbox-label {
    height: 4rem;
    width: 4rem;
  }
}

.navigation__checkbox-label:hover span::before {
  -webkit-transform: translate(-50%, -0.15rem);
      -ms-transform: translate(-50%, -0.15rem);
          transform: translate(-50%, -0.15rem);
}

.navigation__checkbox-label:hover span::after {
  -webkit-transform: translate(-50%, 0.15rem);
      -ms-transform: translate(-50%, 0.15rem);
          transform: translate(-50%, 0.15rem);
}

.navigation__checkbox-label span {
  width: 1.85rem;
  height: 2px;
  background-color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navigation__checkbox-label span::before {
  content: "";
  width: 1.85rem;
  height: 2px;
  background-color: #333333;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.navigation__checkbox-label span::after {
  content: "";
  width: 1.85rem;
  height: 2px;
  background-color: #333333;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.navigation__checkbox:checked ~ .navigation__button > .navigation__checkbox-label span {
  background: rgba(51, 51, 51, 0);
}

.navigation__checkbox:checked ~ .navigation__button > .navigation__checkbox-label span::before {
  top: 0;
  -webkit-transform: translateX(-50%) rotate(135deg);
      -ms-transform: translateX(-50%) rotate(135deg);
          transform: translateX(-50%) rotate(135deg);
}

.navigation__checkbox:checked ~ .navigation__button > .navigation__checkbox-label span::after {
  top: 0;
  -webkit-transform: translateX(-50%) rotate(-135deg);
      -ms-transform: translateX(-50%) rotate(-135deg);
          transform: translateX(-50%) rotate(-135deg);
}

.navigation__checkbox:checked ~ .navigation__button > .navigation__background {
  -webkit-transform: scale(100);
      -ms-transform: scale(100);
          transform: scale(100);
}

.navigation__checkbox:checked ~ .navigation__menu {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup {
  position: relative;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.popup__close:link, .popup__close:visited {
  text-decoration: none;
  color: #777777;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

@media screen and (max-width: 56.25em) {
  .popup__close:link, .popup__close:visited {
    color: #333;
    font-size: 3rem;
  }
}

.popup__close:hover {
  color: #55c57a;
}

.popup__container {
  background: white;
  width: 95%;
  max-width: 75rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s 0.3s;
  -o-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

@media screen and (max-width: 56.25em) {
  .popup__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.popup__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 56.25em) {
  .popup__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.popup__img-container {
  height: 50%;
}

@media screen and (max-width: 56.25em) {
  .popup__img-container {
    height: auto;
    width: 50%;
  }
}

.popup__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup__right {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 4rem 3rem;
}

@media screen and (max-width: 37.5em) {
  .popup__right {
    padding: 2rem 1.5rem;
  }
}

.popup__right p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.6;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  -webkit-column-rule: 1px solid #eee;
     -moz-column-rule: 1px solid #eee;
          column-rule: 1px solid #eee;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media screen and (max-width: 56.25em) {
  .popup__right p {
    font-size: 1rem;
    -webkit-column-count: unset;
       -moz-column-count: unset;
            column-count: unset;
  }
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__container {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
