:root {
  font-size: 1rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 1.875rem;
}

.header {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  min-height: 95vh;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg") top/cover no-repeat;
  background: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  background: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header__logo-container {
  height: 4.25rem;
  width: 4.25rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.header__content-container {
  width: 90%;
  max-width: 40rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__content-container > * + * {
  margin-top: 3em;
}

.header__title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* Fix for shaking animation trouble */
}

.header__title > * + * {
  margin-top: 1em;
}

.header__title-main {
  display: block;
  font-size: 3.75rem;
  letter-spacing: 2rem;
  font-weight: 400;
  -webkit-animation-name: leftRideIn;
          animation-name: leftRideIn;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.header__title-sub {
  display: block;
  font-size: 1.25rem;
  letter-spacing: 1rem;
  -webkit-animation-name: rightRideIn;
          animation-name: rightRideIn;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.header__btn {
  -webkit-animation-name: BottomRideIn;
          animation-name: BottomRideIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes leftRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rightRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rightRideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes BottomRideIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes BottomRideIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

.btn--white {
  background: white;
  color: #777777;
}

.btn--white::before {
  background: white;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2em 2.4em;
  border-radius: 100px;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::before {
  -webkit-transform: scale(1.4, 1.6);
      -ms-transform: scale(1.4, 1.6);
          transform: scale(1.4, 1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
