/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

main text color: #777;

*/

:root {
    font-size: 1rem;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 1.875rem;
}

.header {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    min-height: 95vh;
    background: linear-gradient(
        to right bottom, 
        #7ed56fcc, 
        #28b485ce),
        url('../img/hero.jpg') top / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    position: relative;
}

.header__logo-container {
    height: 4.25rem;
    width: 4.25rem;

    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}

.header__contant-container {
    width: 90%;
    max-width: 40rem;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.header__contant-container > * + * {
    margin-top: 3em;
}

.header__title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    backface-visibility: hidden;      /* Fix for shaking animation trouble */
}

.header__title > * + * {
    margin-top: 1em;
}

.header__title-main {
    display: block;
    font-size: 3.75rem;
    letter-spacing: 2rem;
    font-weight: 400;

    animation-name: leftRideIn;
    animation-delay: 0.2s;
    animation-duration: 0.9s;
    animation-timing-function: ease;
}

.header__title-sub {
    display: block;
    font-size: 1.25rem;
    letter-spacing: 1rem;

    animation-name: rightRideIn;
    animation-delay: 0.2s;
    animation-duration: 0.9s;
    animation-timing-function: ease;
}

@keyframes leftRideIn {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }
    30% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightRideIn {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    30% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2em 2.4em;
    border-radius: 100px;
    transition: transform 0.2s,
                box-shadow 0.2s;

    position: relative;
}

.btn--white {
    background: #fff;
    color: #777;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background: #fff;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: transform 0.3s,
                opacity 0.3s;
}   

.btn:hover::before {
    transform: scale(1.4, 1.6);
    opacity: 0;
}

.header__btn {
    animation-name: BottomRideIn;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

@keyframes BottomRideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}