body {
    margin: 0;
    padding: 1.875rem;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    min-height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.about {
    margin-top: -20vh;
    padding-top: 35vh;
    padding-bottom: 35vh;
}

