body {
    margin: 0;
    padding: 1.875rem;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    min-height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.about {
    margin-top: -15rem;
    padding: 20rem 0;
}

.features {
    margin-top: -15rem;
    padding: 20rem 0;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.tours {
    margin-top: -15rem;
    padding: 20rem 0 10rem;
}
