:root {
    font-size: 100%;

    @include mediaQuery(tab-land) {
        font-size: 90%;
    }
    @include mediaQuery(tab-port) {
        font-size: 80%;
    }

    @include mediaQuery(phone) {
        font-size: 70%;
    }
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
}